@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    margin: 0px;
    margin-bottom: 0px;
}

header > h1 {
    font-family: "unbounded", sans-serif;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

nav {
    padding: 10px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.342)
    
}
nav > a {
    text-decoration: none;
    color: #ED7511;
    margin-left: 20px;
    padding: 10px
    border-radius: 0px 0px 5px 5px;
}

nav > a:hover{
    background-color: lightgray;
    color: #ED9710;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.342)
    
}
body {
    background-image:linear-gradient(to top,#ED7511,#ED9710,#EDB311);
    font-size: 1em;
    margin: 0px;     
}

main {
    background-color: rgba(255, 255, 255, 0.229);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.342);   
} 

main > h2#primeiro {
    margin-top: 0px;
    padding-top: 10px;

}

h1{
    text-align: center;
    color: #ED7511;
    text-shadow: 2px 2px 3px rgba(39, 34, 17, 0.177);
}

p{
    background-color: rgba(255, 252, 252, 0);
    text-align: justify;
}



